<html>
<body>
<br>
Mongo
<ul>
  <li>
    <a href='/admin/mongo/collections'>collections</a>
  </li>
  <li>
    <a href='/admin/mongo/databases'>databases</a>
  </li>

</ul>

<br><br>


<form action='/admin/mongo/setup' method="post">
  <button type='submit'>Setup Database</button>
</form>

</body>

</html>
